.content-card   {
    margin-bottom: 20px;

    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    
    text-align: left;

    box-shadow: 0 0 10px 8px rgba(0, 0, 0, 0.3);
}

.error-card {
    margin: 40px;
    width: 400px;
    margin-left: auto;
    margin-right: auto;

    padding: 20px;

    box-shadow: 0 0 10px 8px rgba(0, 0, 0, 0.3);
}

.link {
    color: #007bff;
    cursor: pointer;
}

.link:hover {
    text-decoration: underline;
}
